.block-archive {

}

.block-archive__list-item {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.block-archive__infos {
    display: flex;
        
    margin-top: 20px;

    font-size: rem(12px);
    line-height: rem(11.5px);
}

.block-archive__title {
    font-weight: 600;

    margin-right: 30px;
}

.block-archive__date {
    font-weight: 400;

    &:before {
        padding-right: 2px;
        content: '/';
    }
}

.block-archive__image-container {
    width: 100%;
}

.block-archive__image {
    width: 100%;
    height: auto;
}

@include mq-regular {
    .block-archive__list-item {
        margin-bottom: 100px;
    }
}

@include mq-extra-narrow {
    .block-archive__infos {
        margin-top: 15px;
    }
}