$base-font-size: 16px;

/**
* Colors
*/
$white: #dcd4cc;
$soft-white: #b9aca0;
$green: #0f1e1c;
$dark-green: #112523;
$yellow: #fda72a;

/**
* Fonts
*/
$monarch: 'Monarch';
$sneak: 'Sneak';
$postGrotesk: 'Post Grotesk';